.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-around;
  margin: 96px 50px;
  font-size: 18px;
  gap: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  letter-spacing: 0.01em;
}

.header__link_active {
  text-decoration: none;
  letter-spacing: 0;
}

.header__logo {
  display: flex;
}

.header__logo-image {
  width: 129.11px;
}

.header__address {
  display: flex;
  align-content: center;
  margin-left: 155px;
}

.address {
  align-self: start;
  font-style: normal;
  line-height: 135%;
}

.adress-href-letter-spacing {
  letter-spacing: 0.01em;
}

.uppercase {
  text-transform: uppercase;
}

.cover {
  position: relative;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background: #000;
  z-index: -1;
}

.cover__title {
  display: block;
  font-weight: bold;
  margin: 115px 0 138px 0;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding-top: 20px;
  line-height: 100%;
}

.aligned-text_right {
  display: block;
  text-align: right;
  padding-top: 20px;
  line-height: 100%;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 127%;
  margin-left: 28px;
}

.cover__description-text {
  word-spacing: 19px;
}

.bet-button {
  background-color: transparent;
  padding: 10.5px 37px 10.5px 37px;
  font-size: 22px;
  color: #fff;
  border: 1px solid #fff;
}

.lots {
  display: block;
  margin: 181px 24px 0 24px;
}

.lots__heading {
  display: block;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 27px;
  padding-left: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
}

.card-link {
  display: block;
  text-decoration-line: none;
}

.card {
  height: 100%;
  padding: 51px 40px 53px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  text-decoration-line: underline;
  line-height: 120%;
  font-size: 22px;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  font-size: 20px;
  margin: 30px 0px 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 166px 29px 0 39px;
}

.about__logo-container {
  justify-self: center;
}

.about__quote {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: #000;
  place-content: center;
  margin-left: 0px;
}

.about__logo-image {
  width: 148px;
}

.about__column {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.about__title {
  font-size: 40px;
  display: flex;
  margin-top: 120px;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  row-gap: 24px;
  margin-top: 75px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 180px 50px 88px 50px;
  font-size: 18px;
}

.footer__address {
  display: flex;
  align-content: start;
  margin-right: 100px;
}

.footer__menu {
  align-items: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  line-height: 135%;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
